@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.uploadForm form{
    margin: 30px auto 10px;
    text-align: center;
}
.uploadForm label input{
    height: 0;
    width: 0;
    opacity: 0;
}
.uploadForm label{
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fe7e6c;
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: #fe7e6c;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;

}

.uploadForm label:hover{
    border: 2px solid #FE6B8B;
    color: #FE6B8B;
}

.icon {
    align-items: center;
    padding: 7px !important;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.output{
    height: 60px;
    font-size: 0.8rem;
}
.error{
    font-size: 14px;
    text-align: center;
    font-family: 'Cardo', serif;
    color: red;
}

.fileName {
    font-size: 14px;
    text-align: center;
    font-family: 'Cardo', serif;
    color: #fe7082;


}